<!DOCTYPE html>
<html lang="en">
<div class="container">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <div class="row">
                    <h4>Remaining Regiment Creation Points: <span
                            ng-style="{color:remainingRegimentPoints < 0 ? 'red;' : 'black;'}">{{remainingRegimentPoints}}</span>
                    </h4>
                </div>
                <div class="row"
                     ng-repeat="category in ['homeworld','commander','type', 'doctrine1', 'doctrine2']">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    {{regimentElements[category].header}}
                                </button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="option in regimentElements[category].options | filter : costFilter">
                                        <a ng-click="regimentElements[category].selected = option">
                                            {{option.name}} ({{option.cost}} pts)
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div style="display:inline-block;float:right">
                                <button class="btn btn-default" ng-click="regimentElements[category].selected = null">
                                    Clear
                                </button>
                            </div>

                        </div>
                        <div class="panel-body">
                            <div ng-show="regimentElements[category].selected">
                                <div class="col-md-12">
                                    <div class="row">
                                        <h2>{{regimentElements[category].selected.name}}</h2>
                                        {{regimentElements[category].selected.description}}
                                    </div>
                                    <div ng-show="regimentElements[category].selected['fixed modifiers'].characteristics"
                                         class="row">
                                        <h4>Characteristics</h4>
                                        <ul>
                                            <li ng-repeat="(name, value) in regimentElements[category].selected['fixed modifiers'].characteristics">
                                                {{name}}
                                                {{value >
                                                0 ? '+' + value : value}}
                                            </li>
                                        </ul>
                                    </div>
                                    <div ng-show="regimentElements[category].selected['fixed modifiers'].skills"
                                         class="row">
                                        <h4>Skills</h4>
                                        <ul>
                                            <li ng-repeat="skill in regimentElements[category].selected['fixed modifiers'].skills track by $index">
                                                {{!skill.specialization
                                                ?
                                                skill.name : skill.name + " (" + skill.specialization +")"}} {{'+' +
                                                (skill.advancements-1)
                                                * 10}}
                                            </li>
                                        </ul>
                                    </div>
                                    <div ng-show="regimentElements[category].selected['fixed modifiers'].talents"
                                         class="row">
                                        <h4>Talents</h4>
                                        <ul>
                                            <li ng-repeat="talent in regimentElements[category].selected['fixed modifiers'].talents">
                                                {{talent.name}}
                                            </li>
                                        </ul>
                                    </div>
                                    <div ng-show="regimentElements[category].selected['fixed modifiers'].traits"
                                         class="row">
                                        <h4>Traits</h4>
                                        <ul>
                                            <li ng-repeat="trait in regimentElements[category].selected['fixed modifiers'].traits">
                                                {{trait.name}}
                                            </li>
                                        </ul>
                                    </div>
                                    <div ng-show="regimentElements[category].selected['fixed modifiers']['special abilities']"
                                         class="row">
                                        <h4>Regiment Special Abilities</h4>
                                        <ul>
                                            <li ng-repeat="ability in regimentElements[category].selected['fixed modifiers']['special abilities']">
                                                <span><strong>{{ability.name}}</strong></span>
                                                <span ng-repeat-end>{{ability.description}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div ng-show="regimentElements[category].selected['fixed modifiers'].aptitudes"
                                         class="row">
                                        <h4>Aptitudes</h4>
                                        <ul>
                                            <li ng-repeat="aptitude in regimentElements[category].selected['fixed modifiers'].aptitudes">
                                                {{aptitude}}
                                            </li>
                                        </ul>
                                    </div>
                                    <div ng-show="regimentElements[category].selected['fixed modifiers'].wounds"
                                         class="row">
                                        <h4>Wounds</h4>
                                        {{regimentElements[category].selected['fixed modifiers'].wounds > 0 ? "+" +
                                        regimentElements[category].selected['fixed modifiers'].wounds :
                                        regimentElements[category].selected['fixed modifiers'].wounds}}
                                    </div>
                                    <div ng-show="regimentElements[category].selected['fixed modifiers']['regiment kit points']"
                                         class="row">
                                        <h4>Additional Regimenal Equipment Points</h4>
                                        You gain {{regimentElements[category].selected['fixed modifiers']['regiment
                                        kitpoints']}} points to modify the regiment equipment.
                                    </div>
                                    <div class="row"
                                         ng-show="regimentElements[category].selected['fixed modifiers']['character kit']">
                                        <h3>Starting Gear</h3>
                                        <ul>
                                            <li ng-repeat="item in regimentElements[category].selected['fixed modifiers']['character kit']">
                                                {{item.count + " x " + item.item.name}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="regimentElements[category].selected['optional modifiers']">
                                <h4>Choose from the following bonuses for your regiment now:</h4>
                                <ul>
                                    <li ng-repeat="option in regimentElements[category].selected['optional modifiers'] | filter : {'selection time' : 'regiment'}">
                                        <button class="btn btn-link"
                                                ng-click="openSelectionModal(option, regimentElements[category].selected)">
                                            {{option |
                                            option_summary}}
                                        </button>
                                    </li>
                                </ul>

                                Characters from this regiment will also choose from the following benefits at character
                                creation:
                                <ul>
                                    <li ng-repeat="option in regimentElements[category].selected['optional modifiers'] | filter : {'selection time' : 'character'}">
                                        {{option |
                                        option_summary}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="favored_weapons">
                    <div class="panel panel-basic">
                        <div class="panel-body">
                            <div class="row" id="favored_basic_weapon">
                                Choose your Regimental Favored Basic Weapon
                                <select ng-model="regiment['favored weapons'][0]"
                                        ng-options="weapon as weapon.name for weapon in basicWeapons">
                                    {{weapon.name}}
                                </select>
                            </div>
                            <div class="row" id="favored_heavy_weapon">
                                Choose your Regimental Favored Heavy Weapon
                                <select ng-model="regiment['favored weapons'][1]"
                                        ng-options="weapon as weapon.name for weapon in heavyWeapons">
                                    {{weapon.name}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <button ng-disabled="!isRegimentCreationComplete" class="btn btn-standard" ng-click="finish()">
                        Complete
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-10 col-md-offset-1">
                    Regiment Name
                    <input type="text" ng-model="regimentName"/>
                    <div class="row" ng-show="regiment" class="text-center">
                        <div class="row">
                            <h3>{{regiment.name}}</h3>
                        </div>
                        <div class="row">
                            <h3>Characteristic Modifiers</h3>
                            <ul>
                                <li ng-repeat="characteristic in regimentCharacteristics">
                                    {{characteristic[0].name}} :
                                    {{characteristic[1] >= 0 ?
                                    '+' + characteristic[1] :
                                    '-' + characteristic[1]}}
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <h3>Starting Skills</h3>
                            <ul>
                                <li ng-repeat="(skill,rating) in regiment.skills">
                                    {{skill}}{{rating > 1 ? + (rating * 10) : ""}}
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <h3>Starting Talents and Traits</h3>
                            <ul>
                                <li ng-repeat="talent in regiment.talents">{{talent.name}}
                                </li>
                                <li ng-repeat="trait in regiment.traits">{{trait.name}}
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <h3>Regiment Special Abilities</h3>
                            <ul>
                                <li ng-repeat="ability in regiment['special abilities']">
                                    <strong>{{ability.name}}</strong> - {{ability.description}}
                                </li>
                            </ul>
                        </div>
                        <div class="row" ng-show="character.psychicPowers.powers.length">
                            <h3>Starting Powers</h3>
                            <ul>
                                <li ng-repeat="power in character.psychicPowers.powers">
                                    {{power.name}}
                                </li>
                            </ul>
                            <button class="btn btn-standard" ng-click="openStartingPowersModal()">Change</button>
                        </div>
                        <div class="row">
                            <h3>Aptitudes</h3>
                            <ul>
                                <li ng-repeat="aptitude in regiment['aptitudes'] track by $index">
                                    {{aptitude}}
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <h3>Starting Gear</h3>
                            <ul>
                                <li ng-repeat="item in regimentKit">
                                    {{item[1] + " x " + (item[0].craftsmanship !== "Common" ?
                                    item[0].craftsmanship + " Craftsmanship " : "") + item[0].name}}
                                    {{item[0].upgrades ? "w/ " + item[0].upgrades.join(", ") : ""}}
                                </li>
                            </ul>
                        </div>
                        <div class="row" ng-show="regiment['favored weapons']">
                            <h3>Favored Weapons</h3>
                            <ul>
                                <li ng-repeat="weapon in regiment['favored weapons']">
                                    {{weapon.name}}
                                </li>
                            </ul>

                        </div>
                        <div class="row">
                            <h4>Regimental Kit Options</h4>
                            <div>
                                <!--<div ng-show="readyToSelectKitModifiers">-->
                                <div class="row">

                                    Select from the following options to customize your regimental starting gear.
                                    Remaining Kit Points: {{remainingKitPoints}}
                                    <ul>
                                        <li ng-repeat="choice in kitChoices track by $index">
                                            <button class="btn btn-link" ng-class="{disabled:choice.unavailableMessage}"
                                                    ng-click="!choice.unavailableMessage ? addKitModifier(choice) : null"
                                                    uib-tooltip="{{choice.unavailableMessage}}"
                                                    style="white-space: normal;">
                                                {{choice.description + " (" + choice.cost +" pts)"}}
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row" ng-show="chosenKitModifiers.length">
                                    <h4>Chosen Kit Modifiers</h4>
                                    Click to undo chosen modifiers
                                    <ul>
                                        <li ng-repeat="chosen in chosenKitModifiers">
                                            <button class="btn btn-link" ng-click="removeKitModifier(chosen)">
                                                {{chosen.description}}
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div ng-show="!readyToSelectKitModifiers">
                                After you've chosen your Homeworld, Regiment Type, Commanding Officer and Favored
                                Weapons, you can modify your regiments' equipment.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>