<!DOCTYPE html>
<html lang="en">

<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            This application uses cookies to determine when to display instructional dialogs like this to you.
            If cookies are enabled, these will be hidden after the first time.
        </div>
        <br/>
        <div class="row">
            You can find question make buttons throughout the pages of the app. Hover your pointer over them to see
            instructional tooltips or click to open dialogs with more in-depth information.
        </div>
        <br/>
        <div class="row">
            To get started making your first character, click the Select Regiment button at the top of the page.
        </div>
    </div>
</div>
</html>