<div class="container-fluid">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <h3>Wounds</h3>
            Regiment Modifier: {{selectedRegiment['fixed modifiers'].wounds}} <br/>
            Specialty Modifier: {{selectedSpecialty['fixed modifiers'].wounds}} <br/>
            Roll: <input type="number" ng-model="rolledWounds.modifier" ng-model-options="{getterSetter:true}"/>
            <button class="btn btn-standard" ng-click="rollWounds()">Roll</button>
            <br/>
            Total: <input type="number" ng-value="character.wounds.total" ng-model-options="{getterSetter:true}" readonly>
        </div>
        <hr/>
        <div class="row">
            <div class="row">
                <h3>Fate Points</h3>
            </div>
            <div class="row">
                Roll : {{fpRoll}}
                <button class="btn btn-standard" ng-click="rollFP()">Roll</button>
                <br/>
            </div>
            Fate Points : <input type="number" ng-model="character.fatePoints.total"
                                 ng-model-options="{ getterSetter: true }"/>
        </div>
        <hr/>
        <div class="row" ng-show="numBonusAptitudes">
            <div class="row">
                You have {{numBonusAptitudes}} duplicate aptitudes. This lets you select bonus aptitudes.
            </div>
            <div class="row">
                Choose {{numBonusAptitudes}}:
                <select multiple ng-model="chosenBonusAptitudes">
                    <option ng-repeat="aptitude in availableAptitudes" value="{{$index}}">{{aptitude}}</option>
                </select>
            </div>
            <button class="btn btn-standard" ng-disabled="chosenBonusAptitudes.length !== numBonusAptitudes" ng-click="addBonusAptitudes()">Add These Aptitudes</button>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <h3>Spend Experience</h3>
                <div class="row">
                    XP available: {{availableXp}}
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <select ng-model="selectedCategory" ng-change="toggleDisplayedCategory()"
                                ng-options="category.value for category in categories track by category.id">
                        </select>
                    </div>
                    <div class="col-md-9" ng-show="selectedCategory">
                        <div class="row">
                            <select ng-model="displayedOption" ng-options="option.name for option in options"
                                    ng-change="displayXpCost()">
                            </select>
                        </div>
                        <div ng-show="displayedOption && selectedCategory.value !== 'Psychic Powers'">
                            <div class="row">
                                <table class="table bordered-table">
                                    <tr>
                                        <th colspan="2">Needed Aptitudes</th>
                                    </tr>
                                    <tr>
                                        <td ng-repeat="aptitude in displayedOption.aptitudes"
                                            ng-style="{'background-color': character.aptitudes.all.indexOf(aptitude) !== -1 ? 'green' : 'red'}">
                                            {{aptitude}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="row text-center">
                                <button class="btn btn-default" ng-click="buyAdvancement()"
                                        ng-disabled="optionXpCost > availableXp">Buy for {{optionXpCost}} XP
                                </button>
                            </div>
                            {{bought}}
                        </div>
                        <div ng-show="displayedOption && selectedCategory.value === 'Psychic Powers'">
                            <div class="row">
                                <h4>{{displayedOption.name}}</h4>
                            </div>
                            <div class="row text-center">
                                <button class="btn btn-default" ng-click="buyAdvancement()"
                                        ng-disabled="optionXpCost > availableXp">Buy for {{optionXpCost}} XP
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>