<div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
    </div>
    <div class="modal-body">
        <div class="row">
            Choose {{selectionsNeeded}} :
        </div>
        <div class="row">
            <ul ng-repeat="option in options"><input type="checkbox" ng-model="selected[$index]">{{option | modal_option}}</ul>
        </div>
        <div class="row">
            <button ng-click="ok()" ng-disabled="((selected | filter : true).length !== selectionsNeeded)" class="btn btn-primary">Select</button>
        </div>
    </div>
</div>