<div class="container-fluid" ng-controller="StartingPowersController">
    <div class="col-md-12">
        <div class="row">
            <h4>Remaining bonus xp: {{character.psychicPowers.bonusXp}}</h4>
            <select ng-model="selectedPower">
                <option ng-repeat="power in powers" value="{{$index}}">{{power.name}} ({{power.value}})
                </option>
            </select>
        </div>
        <div class="row">
            <div class="row text-center">
                {{selectedPower.name}}
            </div>
            <div class="row text-center">
                {{selectedPower.value}}
            </div>
        </div>
        <div class="row">
            <button ng-disabled="!selectedPower" ng-click="selectPower()">Add Power</button>
        </div>
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="power in boughtPowers">
                    {{power.name}}
                    <button class="btn btn-danger pull-right" ng-click="remove($index)">Remove</button>
                </li>
            </ul>
        </div>
    </div>
</div>