body{
	overflow: hidden;
}

div{
	overflow-x: auto;
	overflow-y: auto;
	max-height: 100vh;
}

#sidebar{
	float: left;
	left: 500px;
	margin-left: -500px;
	position: relative;
	width: 28%;
}


#contentWrapper{
	float: right;
	width: 70%;
	height: 90vh;
	overflow: auto;
	border-color: red;
	border-style: outset;
}

#messages{
	height: 14vh;
	border-bottom: medium outset red;
}

#messagedisplay{
	overflow-y: auto;
	position: relative;
}

#footer{
	float:right;
	width: 70%;
	position: relative;
}

.Terrible{
	color: #FF0000;	
}

.Poor{
	color: #FF8800;
}

.Adequate{
	color: #008800;
}

.Good{
	color: #0088FF;
}

.Excellent{
	color: #0000FF;
}